* {
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
}

body {
  background-color: #090b1a;
}

strong, em {
  font-style: normal;
}

em {
  color: #aa5cdb;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-weight: 400;
}

.stats-preview-card {
  background-color: #1b1938;
  border-radius: 10px;
}
.stats-preview-card h1 {
  color: white;
  font-size: 26px;
  line-height: normal;
}
.stats-preview-card .information {
  padding: 30px;
}

.statistics-container p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.statistics-container strong {
  letter-spacing: normal;
  font-size: 22px;
  color: white;
  text-transform: none;
}

.image-header {
  background-color: #aa5cdb;
}
.image-header img {
  display: block;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media screen and (max-width: 1023px) {
  .stats-preview-card {
    position: relative;
    top: 100px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 86vw;
    margin: auto;
  }
  .stats-preview-card .image-header {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .stats-preview-card .image-header .desktop-image {
    display: none;
  }
  .stats-preview-card .image-header .mobile-image {
    width: inherit;
  }
  .stats-preview-card .information {
    padding-top: 10px;
  }
  .stats-preview-card .information .statistics-container {
    position: relative;
    flex-flow: column nowrap;
    top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .stats-preview-card {
    position: relative;
    display: flex;
    width: 85vw;
    height: 60vh;
    margin: auto;
    flex-flow: row-reverse nowrap;
  }
  .stats-preview-card h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .stats-preview-card p {
    line-height: 2em;
  }
  .stats-preview-card .image-header {
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    height: inherit;
  }
  .stats-preview-card .image-header .desktop-image {
    object-fit: fill;
    width: 100%;
    height: inherit;
  }
  .stats-preview-card .image-header .mobile-image {
    display: none;
  }
  .stats-preview-card .information {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 150px;
    padding-bottom: 70px;
  }
  .stats-preview-card .information .statistics-container {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    justify-content: space-between;
    margin-top: auto;
    width: 90%;
  }
  .stats-preview-card .information .statistics-container p {
    font-size: 12px;
  }
  .stats-preview-card .information .statistics-container strong {
    font-size: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
