$mobileBreakpoint: 1023px;

$primaryVeryDarkBlue: hsl(233, 47%, 7%);    // main bg
$primaryDarkDesatBlue: hsl(244, 38%, 16%);  // card bg
$primarySoftViolet: hsl(277, 64%, 61%);     // accent

$neutralWhiteOpaque: hsl(0, 0%, 100%);  // main heading, stats
$neutralWhiteLessOpaque: hsla(0, 0%, 100%, 0.75);   // main para
$neutralWhiteTransparent: hsla(0, 0%, 100%, 0.6);   // stat headings

$fontSize: 15px;
$fontInter: 'Inter', sans-serif;
$fontLexend: 'Lexend Deca', sans-serif;

* {
    font-family: $fontInter;
    line-height: 1.5em;
}

body {
    background-color: $primaryVeryDarkBlue;
}

strong, em {
    font-style: normal;
}

em {
    color: $primarySoftViolet;
}

p {
    color: $neutralWhiteLessOpaque;
    font-size: $fontSize;
    font-weight: 400;   // change this to a var later
}

.stats-preview-card {
    background-color: $primaryDarkDesatBlue;
    border-radius: 10px;

    h1 {
        color: $neutralWhiteOpaque;
        font-size: $fontSize + 11px;
        line-height: normal;
    }

    .information {
        padding: 30px;
    }
}

.statistics-container {
    p {
        color: $neutralWhiteTransparent;
        font-family: $fontLexend;
        font-size: .8em;
        letter-spacing: .1rem;
        font-weight: 400;   // also change this to a var
        text-transform: uppercase;
    }

    strong {
        letter-spacing: normal;
        font-size: $fontSize + 7px;
        color: $neutralWhiteOpaque;
        text-transform: none;
    }
}

.image-header {
    background-color: $primarySoftViolet;

    img {
        display: block; // learned a new thing about inline vs block!
        opacity: .75;
        mix-blend-mode: multiply;
    }
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media screen and (max-width: $mobileBreakpoint) {
    .stats-preview-card {
        position: relative;
        top: 100px;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        width: 86vw;
        margin: auto;

        .image-header {
            width: 100%;
            border-radius: 10px 10px 0 0;

            .desktop-image {
                display: none;
            }

            .mobile-image {
                width: inherit;
            }
        }

        .information {
            padding-top: 10px;

            .statistics-container {
                position: relative;
                flex-flow: column nowrap;
                top: 10px;
            }
        }
    }
}

@media screen and (min-width: ($mobileBreakpoint + 1)) {
    body {
        display: flex;
        height: 100vh;
        margin: 0;
        padding: 0;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .stats-preview-card {
        position: relative;
        display: flex;
        width: 85vw;
        height: 60vh;
        
        margin: auto;
        flex-flow: row-reverse nowrap;

        h1 {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }

        p {
            line-height: 2em;
        }

        .image-header {
            border-radius: 0 10px 10px 0;
            box-sizing: border-box;
            overflow: hidden;
            width: 50%;
            height: inherit;

            .desktop-image {
                object-fit: fill;
                width: 100%;
                height: inherit;
            }

            .mobile-image {
                display: none;
            }
        }

        .information {
            display: flex;
            flex-flow: column nowrap;
            
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding-left: 70px;
            padding-right: 150px;
            padding-bottom: 70px;

            .statistics-container {
                display: flex;
                flex-flow: row nowrap;
                height: fit-content;
                justify-content: space-between;
                margin-top: auto;
                width: 90%;

                p {
                    font-size: $fontSize - 3px;
                }

                strong {
                    font-size: $fontSize + 10px;
                }
            }
        }
    }
}