$mobileBreakpoint: 425px;

$primaryVeryDarkBlue: hsl(233, 47%, 7%);    // main bg
$primaryDarkDesatBlue: hsl(244, 38%, 16%);  // card bg
$primarySoftViolet: hsl(277, 64%, 61%);     // accent

$neutralWhiteOpaque: hsl(0, 0%, 100%);  // main heading, stats
$neutralWhiteLessOpaque: hsla(0, 0%, 100%, 0.75);   // main para
$neutralWhiteTransparent: hsla(0, 0%, 100%, 0.6);   // stat headings

$fontSize: 15px;
$fontInter: 'Inter', sans-serif;
$fontLexend: 'Lexend Deca', sans-serif;

* {
    font-family: $fontInter;
    line-height: 1.5em;
}

body {
    background-color: $primaryVeryDarkBlue;
}

strong, em {
    font-style: normal;
}

em {
    color: $primarySoftViolet;
}

p {
    color: $neutralWhiteLessOpaque;
    font-size: $fontSize;
}

.stats-preview-card {
    background-color: $primaryDarkDesatBlue;
    border-radius: 10px;

    h1 {
        color: $neutralWhiteOpaque;
        font-size: $fontSize + 12px;
        line-height: normal;
    }

    .information {
        padding: 30px;
    }
}

.statistics-container {
    p {
        color: $neutralWhiteTransparent;
        font-family: $fontLexend;
        text-transform: uppercase;
    }

    strong {
        color: $neutralWhiteOpaque;
        text-transform: none;
    }
}

.image-header {
    background-color: $primarySoftViolet;

    img {
        display: block; // learned a new thing about inline vs block!
        opacity: .75;
        mix-blend-mode: multiply;
    }
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media screen and (max-width: $mobileBreakpoint) {
    .stats-preview-card {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        width: 85vw;
        margin: auto;

        .image-header {
            width: 100%;
            border-radius: 10px 10px 0 0;

            .desktop-image {
                display: none;
            }

            .mobile-image {
                width: inherit;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

@media screen and (min-width: ($mobileBreakpoint + 1)) {
    .stats-preview-card {
        display: flex;
        flex-flow: row-reverse nowrap;
    }
}